[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
numpy = "*"
torch = "==1.8.1"
torchvision = "*"
torchaudio = "*"
nibabel = "*"
tqdm = "*"
open3d = "*"
easydict = "*"
scipy = "*"
coloredlogs = "*"
gitpython = "*"
pyyaml = "*"
scikit-learn = "*"
tensorboard = "*"
vtk-visualizer = "*"
h5py = "*"
tensorboardx = "*"
cupoch = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
